project:
  type: website

website:
  title: ""
  navbar:
    left:
      - href: index.qmd
        text: Home
      - projects.qmd
  page-footer: 
    right: "&copy; 2024, Azadeh Baniasad"
      
      


format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: False


execute: 
  freeze: auto
